@using Microsoft.Extensions.Localization
@using Volo.Abp.MultiTenancy.Localization
@inherits Zyknow.Abp.Account.Blazor.FluentDesignUI.AccountBlazorFluentDesignComponentBase

<FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
    <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween"
                 VerticalAlignment="VerticalAlignment.Center">
        <FluentStack Orientation="Orientation.Vertical">
            <FluentLabel Typo="Typography.Body" Color="Color.Info">@TL["Tenants"]</FluentLabel>
        </FluentStack>
        <div>
            <FluentButton Appearance="Appearance.Stealth"
                          OnClick="ShowSwitchTenancyDialogAsync">@TL["SwitchTenancy"]</FluentButton>
        </div>
    </FluentStack>
    <FluentLabel
        Typo="Typography.Subject"  Color="Color.Info">@($@"{CurrentTenant?.Name ?? L["NotSelected"]}")</FluentLabel>
</FluentStack>

@code {
    [Inject] protected IDialogService DialogService { get; set; }
    [Inject] protected IStringLocalizer<AbpMultiTenancyResource> TL { get; set; }
    
    protected virtual async Task ShowSwitchTenancyDialogAsync()
    {
        await DialogService.ShowDialogAsync<SwitchLoginTenantDialog>(new DialogParameters());
    }
}