@page "/setting-management"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Features
@using Volo.Abp.SettingManagement
@using Zyknow.Abp.AspnetCore.Components.Web.FluentDesignTheme.Layout
@using Microsoft.FluentUI.AspNetCore.Components
@using Volo.Abp.SettingManagement.Localization
@using Zyknow.Abp.FluentDesignUI
@using Zyknow.Abp.GroupComponent.FluentDesignUI.Components
@attribute [Authorize]
@attribute [RequiresFeature(SettingManagementFeatures.Enable)]
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="20" HorizontalAlignment="HorizontalAlignment.Stretch">
        <AbpPageHeader Title="@L["Settings"]" BreadcrumbItems="@BreadcrumbItems"/>
        <FluentDivider></FluentDivider>
        <div class="page-content">
            <AbpFluentDesignGroupManagement TResource="AbpSettingManagementResource"
                                            GroupKey="@SettingGroupComponentContributorBase.SettingGroupKey">
            </AbpFluentDesignGroupManagement>
        </div>
    </FluentStack>

@code
{
    [Inject] protected IStringLocalizer<AbpSettingManagementResource> L { get; set; }

    protected List<AbpBreadcrumbItem> BreadcrumbItems = new();

    protected override async Task OnInitializedAsync()
    {
        BreadcrumbItems.Add(new AbpBreadcrumbItem(L["Settings"]));
    }
}
