@using Zyknow.Abp.AspnetCore.Components.Web.FluentDesignTheme.Themes.FluentDesignTheme
@inherits LayoutComponentBase

<FluentStack
    Class="account-public-layout"
    HorizontalAlignment="HorizontalAlignment.Center"
    Orientation="Orientation.Vertical"
    VerticalAlignment="VerticalAlignment.Center"
    VerticalGap="40">
    <div style="scale: 2">
        <Branding TitleColor="Color.Lightweight"/>
    </div>
    <FluentStack
        Class="account-public-layout-container"
        HorizontalAlignment="HorizontalAlignment.Stretch"
        Orientation="Orientation.Vertical"
        VerticalAlignment="VerticalAlignment.Center">
        <PageAlert/>
        @Body
    </FluentStack>
</FluentStack>

<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>
<FluentToastProvider/>

<style scoped>
    .account-public-layout {
        height: 100vh;
        width: 100vw;
        /*background: var(--neutral-layer-4) !important;*/
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("_content/Zyknow.Abp.Account.Blazor.Server.FluentDesignUI/account-public-background.svg");
    }

    .account-public-layout-container {
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        background-color: var(--neutral-fill-layer-rest);
        width: 380px !important;
        padding: 44px;
    }
</style>