@page "/Account/ForgotPassword"
@layout AccountLayout
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits Zyknow.Abp.Account.Blazor.FluentDesignUI.AccountBlazorFluentDesignComponentBase
@inject AbpBlazorMessageLocalizerHelper<AccountResource> LH
<FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center"
             HorizontalAlignment="HorizontalAlignment.Center" Style="height: 100%">
    <div style="min-width: 500px;">
        <FluentCard>
            <AbpDialogForm Content="Input" SubmitClick="SubmitAsync" Localize="@LH.Localize">
                <Header>
                    <FluentLabel Weight="FontWeight.Bold" Typo="Typography.H4">@L["ForgotPassword"]</FluentLabel>
                </Header>
                <ChildContent>
                    <FluentTextField Style="width: 100%" TextFieldType="TextFieldType.Email"
                                     @bind-Value="Input.Email"
                                     Label="@L["DisplayName:Email"]"></FluentTextField>
                    <ValidationMessage For="@(() => Input.Email)"></ValidationMessage>
                </ChildContent>
            </AbpDialogForm>
        </FluentCard>
    </div>

</FluentStack>


@code {
    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrlHash { get; set; }


    public SendPasswordResetCodeDto Input { get; set; } = new()
    {
        AppName = "MVC",
    };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Input.ReturnUrl = ReturnUrl;
            Input.ReturnUrlHash = ReturnUrlHash;
        }
    }

    protected virtual async Task SubmitAsync()
    {
        try
        {
            await AccountAppService.SendPasswordResetCodeAsync(Input);

            var url = NavigationManager.GetUriWithQueryParameters("/Account/PasswordResetLinkSent",
                new Dictionary<string, object>
                {
                    ["returnUrl"] = Input.ReturnUrl,
                    ["returnUrlHash"] = Input.ReturnUrlHash
                });

            NavigationManager.NavigateTo(url, replace: true);
        }
        catch (Exception e)
        {
            await HandleErrorAsync(e);
        }
    }


}