@page "/Account/PasswordResetLinkSent"
@layout AccountLayout
@inherits Zyknow.Abp.Account.Blazor.FluentDesignUI.AccountBlazorFluentDesignComponentBase
<FluentStack HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center"
             Style="height: 100%">
    <div style="max-width: 500px">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="60">
                <FluentLabel Weight="FontWeight.Bold" Typo="Typography.H2">@L["ForgotPassword"]</FluentLabel>

                <FluentLabel Typo="Typography.Body" Weight="FontWeight.Bolder">@L["PasswordResetMailSentMessage"]</FluentLabel>

                <FluentButton Appearance="Appearance.Accent" OnClick="BackToLoginAsync">@L["BackToLogin"]</FluentButton>
            </FluentStack>
        </FluentCard>
    </div>
</FluentStack>


@code {
    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrlHash { get; set; }

    async Task BackToLoginAsync()
    {
        var url = NavigationManager.GetUriWithQueryParameters("/Login",
            new Dictionary<string, object>
            {
                ["returnUrl"] = ReturnUrl,
                ["returnUrlHash"] = ReturnUrlHash
            });

        NavigationManager.NavigateTo(url, replace: true);
    }

}