@page "/Account/PasswordResetLinkSent"
@layout AccountPublicLayout
@using Zyknow.Abp.Account.Blazor.Server.FluentDesignUI.Themes.FluentDesignTheme
@inherits Zyknow.Abp.Account.Blazor.FluentDesignUI.AccountBlazorFluentDesignComponentBase

<div class="public-account-container">
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="40">
        <FluentLabel Weight="FontWeight.Bold" Typo="Typography.H2">@L["ForgotPassword"]</FluentLabel>

        <FluentLabel Typo="Typography.Body">@L["PasswordResetMailSentMessage"]</FluentLabel>

        <FluentButton Style="width: 100%" Appearance="Appearance.Accent" OnClick="BackToLoginAsync">@L["BackToLogin"]</FluentButton>
    </FluentStack>
</div>

@code {
    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrlHash { get; set; }

    async Task BackToLoginAsync()
    {
        var url = NavigationManager.GetUriWithQueryParameters("/Account/Login",
            new Dictionary<string, object>
            {
                ["returnUrl"] = ReturnUrl,
                ["returnUrlHash"] = ReturnUrlHash
            });

        NavigationManager.NavigateTo(url, replace: true);
    }

}