<div class="fluent-design-navmenu-card">
    <div class="fluent-design-navmenu">
        <FluentNavMenu Width="250" Expanded="@Collapsed" CollapsedChildNavigation>
            @if (Menu != null)
            {
                @foreach (var menu in Menu.Items)
                {
                    <MainMenuItem Menu="@menu" FirstLevel></MainMenuItem>
                }
            }
        </FluentNavMenu>
    </div>
</div>

