<div class="fluent-design-navmenu">
    <FluentNavMenu Width="300" Expanded="@Collapsed" CollapsedChildNavigation>
        @if (Menu != null)
        {
            @foreach (var menu in Menu.Items)
            {
                <MainMenuItem Menu="@menu" FirstLevel></MainMenuItem>
            }
        }

    </FluentNavMenu>
</div>

